#video-compare-container {
	display: inline-block;
	line-height: 0;
	position: relative;
	width: 100%;
	padding-top: 20.3%;
 }
 #video-compare-container > img {
	width: 100%;
	position: absolute;
	top: 0; height: 100%;
 }
 #video-clipper {
	width: 50%; position: absolute;
	top: 0; bottom: 0;
	overflow: hidden;
 }
 #video-clipper img {
	width: 200%;
	postion: absolute;
	height: 100%;
 }

 .hero img{
	object-fit: cover;
 }

 .hero{
	height: 40vh;
	overflow: hidden;
	margin: 0;
 }

 /* .info img{
	width: 50%;
	height: 300px;
	object-fit: cover;
 } */

 .info__box{
	width: 40vw;
 }

 .info__box img{
	width: 100%;
	height: 400px;
	object-fit: cover;
 }

 .info__box h1, .info__box h2{
	font-size: 32px;
	font-weight: 500;
	margin: 25px 0;
 }

 .info__box p{
	font-size: 16px;
	margin: 25px 0;
 }